.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.dialogContent {
    width: 100%;
    max-width: 360px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 12%);
}

.dialogFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        width: 100%;
        max-width: 49%;
    }
}
