.card {
    padding: 24px;
    border-radius: 16px;
    background: var(--white);
    box-shadow: 0 3px 8px 0 rgb(0 0 0 / 12%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: var(--black-secondary);
}

.buttons {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn {
    font-size: 11px;
}

.btnIcon {
    margin-right: 4px;

    path {
        stroke: var(--black-secondary);
    }
}

.body {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.row {
    display: flex;
    align-items: center;
    gap: 12px;
    min-height: 32px;

    p {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: var(--black-secondary);
    }
}

.rowLabel {
    min-width: 160px;
    opacity: 0.5;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: var(--black-secondary);
}

.separator {
    opacity: 0.5;
    color: var(--black-secondary);
}

.fields {
    display: flex;
    gap: 12px;
    width: 100%;
}

.date {
    display: flex;
    align-items: center;
    gap: 12px;

    input[type='date']::-webkit-inner-spin-button,
    input[type='date']::-webkit-calendar-picker-indicator {
        -webkit-appearance: none;
        display: none;
    }

    input {
        min-width: 180px;
    }

    span {
        min-width: auto;
    }
}

.selectTrigger {
    width: 100%;
}

.selectItem {
    min-height: 44px;
    padding: 12px 16px;
}

.miltiSelectWrap {
    width: 100%;

    button {
        width: 100%;
    }

    div {
        &[data-slot='command-item'] {
            background: red !important;
        }
    }
}
